@model WardrobeMVC.Models.Accessories5

@{
    ViewBag.Title = "Delete";
}

<h2 style="font-family: 'Coda Caption', sans-serif;">Delete</h2>

<h3 style="font-family: 'Saira Condensed', sans-serif;">Are you sure you want to delete this?</h3>
<div>
    <h4 style="font-family: 'Saira Condensed', sans-serif;">Accessories5</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Accessory5Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accessory5Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Accessory5Photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accessory5Photo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Accessory5Colors.Accessory5ColorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accessory5Colors.Accessory5ColorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Accessory5Occassions.Accessory5OccassionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accessory5Occassions.Accessory5OccassionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Accessory5Seasons.Accessory5SeasonName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accessory5Seasons.Accessory5SeasonName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Accessory5Types.Accessory5TypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accessory5Types.Accessory5TypeName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
